section:nth-child(even) {
  background-color: #FDF3CA;
}

section:nth-child(odd) {
  background-color: #EBF6EE;
}

.floating-about-image {
  transform: translate(50px, -20px);
}

footer {
  background-color: #24433F;
  color: #F9E065;
}

.error {
  border: 2px solid #FF6565;
}